#--- Variables de Personnalisation ---
# Lab naming
LAB_NET=labnet
LAB_WEB=web
LAB_PHP=php
LAB_DB=db

# Configuration du Projet
PHP_PORT=9000
WEB_PORT=8080
SSL_PORT=8443
DB_PORT=3306

# MySQL Configuration
DB_NAME=default
DB_USER=user_db
DB_PASS=pass_db
DB_ROOT_PASSWORD=rootpass_db